// text variables
$primary-font-family: 'Roboto', 'Arial', sans-serif;
$secondary-font-family: 'Raleway', sans-serif;
// ==================================================================
// text colors
$primary-text-color: 1;
$secondary-text-color: 2;
$acent-text-color: 3;
// ==================================================================
// text size
$primary-text-size: 4;
$secondary-text-size: 5;
// ==================================================================
// title size
$primary-title-size: 6;
$secondary-title-size: 7;
// ==================================================================
// letter-spacing
$primary-letter-spacing: 8;
$secondary-letter-spacing: 9;
// ==================================================================
// background colors
$primary-Bg-color: 1;
$secondary-Bg-color: 2;
$acent-Bg-color: 2;
// ==================================================================
// thumb colors
// ==================================================================
// animations
$primary-animation: cubic-bezier(0.4, 0, 0.2, 1);
$secondary-animation: cubic-bezier(0.4, 0, 0.2, 1);
