<section class="section">
  <div class="container">
    <h1 class="title">35467890-</h1>
    <p data-aos="fade-down">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident dolor nemo asperiores
      obcaecati, ducimus non magnam nam! Corporis aperiam inventore, consequuntur nam sed pariatur
      sapiente tempore ipsam autem architecto repellendus?
    </p>
    <p data-aos="fade-up">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita quae commodi fuga! Id
      quibusdam quasi officiis eum, ipsum maxime reprehenderit vero necessitatibus, itaque neque
      alias soluta consectetur ut cumque sit.
    </p>
  </div>
</section>
